<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC - Products</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/icons/bootstrap-icons.css" />
    <script src="/js/bootstrap.js"></script>
</head>
<body>
    <div class="row justify-content-center mt-5">
        <div class="col-8">
            <div class="d-flex justify-content-between">
                <h2 class="mb-4"> 
                    Add new product
                </h1>
                <a href="/" style="color: black; text-align: center"><i class="bi bi-backspace" style="font-size:2rem"></i></a>
            </div>

            <form action="/add" method="post" id="add-form" enctype="multipart/form-data">

                <div class="mb-3">
                    <label class="mb-2" for="image">Product image</label><br>
                    <input type="file" name="image" class="custom-file-input" id="image" aria-describedby="image">
                </div>
                <div class="mb-3">
                    <label for="name">Name</label>
                    <input type="text" name="name" class="form-control form-control-lg" placeholder="Enter name" required/>
                </div>
                <div class="mb-3">
                    <label for="description">Description</label>
                    <textarea rows="4" name="description" class="form-control form-control-lg" placeholder="Enter description" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="brand">Brand</label>
                    <input type="text" name="brand" class="form-control form-control-lg" placeholder="Enter brand" required/>
                </div>
                <div class="mb-3">
                    <label for="price">Price</label>
                    <input type="number" name="price" class="form-control form-control-lg" placeholder="Enter price" required/>
                </div>
                <div class="mb-3">
                    <label for="countInStock">Count in stock</label>
                    <input type="number" name="countInStock" class="form-control form-control-lg" placeholder="Enter count in stock" required/>
                </div>
                    <button type="submit" class="btn btn-success mb-3 mt-5">
                        <i class="bi bi-plus"></i> Add
                    </button>
            </form>
        </div>
    </div>
</body>
</html>


